[user]
    name = Andrew Yihang Xu @Mothra 
    email = zlqxccxuy@gmail.com

[core]
    autocrlf = input
    filemode = false

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[gc]
    auto = 1

[merge]
    summary=true

[alias]
    # The basics.
    co = checkout
    cm = commit
    st = status
    br = branch

    d = diff      # show changes in the working directory (not including index)
    ds = diff --staged # show changes in the index only (not working directory)

    unstage = reset HEAD            # un-add files from index (tracking)
    uncommit = reset --soft HEAD^   # go back one commit, 
                                    # put changes into your working dir and index
    chunkyadd = add --patch         # stage commits chunk by chunk
    amend = commit --amend          # fix last commit

    # 'git add -u' handles deleted files, but not new files
    # 'git add .' handles any current and new files, but not deleted
    # 'git addall' now handles all changes
    addall = !sh -c 'git add . && git add -u'

    # outgoing changes (in local, but not origin)
    outgoing = log -u origin/master..master
    b = branch -v                   # show commit messages on branch list
    t = tag -l                      # show commit messages on tag list
    r = remote -v                   # show urls of remotes

    # copy a commit from another branch with source info
    cp = cherry-pick -x

    # Better log formatting
    changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
    filelog = log -u  # show changes to a file
    changelog = log --pretty=format:\" * %s\"
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[http]
        sslVerify = false
[github]
        user = ninehills
[push]
        default = simple
